/* CONFIGURACOES GERAIS */
.page {
    display: none;
    width: 100%;
    height: 100%;
}

.card {
    background: var(--back-color);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);

    container-type: inline-size;
    container-name: card;
}

/* ===== PAGINA EDITOR ===== */
.pg-editor.active {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        "desafio workspace"
        "console workspace";
    gap: 15px;
    padding: 15px;
    flex-grow: 1;
    overflow: hidden;
}

@media (max-width: 900px) {
    .pg-editor.active {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "desafio"
            "console"
            "workspace";
        height: auto;
        overflow-y: auto;
    }
}

.card-desafio {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    text-align: center;
}

@container card (max-width: 500px) {
    .card-desafio {
        display: grid;
        justify-content: stretch;
        grid-column: 2;
        grid-row: 2;
    }

    #btn-anterior,
    #btn-proximo {
        grid-row-start: 2;
    }

    #desafio-number {
        grid-column: span 2;
    }
}

/* Workspace lado a lado */
.workspace {
    grid-area: workspace;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

#editor {
    flex-grow: 1;
    overflow-y: hidden;
}

#titulo {
    text-align: center;
}

#instrucoes {
    white-space: pre-wrap;
}

@media (max-width: 900px) {
    .workspace {
        flex-direction: column;
        gap: 0;
    }
}

.header-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.console-output {
    flex-grow: 1;
    /* Ocupa o espaço restante */
    overflow: hidden;
    /* Esconde overflow do container */
}

/* Console estilo terminal */
#output {
    background: var(--back2-color);
    color: #eaeaea;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border-radius: 8px;
    min-height: 100px;
    height: 100%;
    padding: 12px;
    white-space: pre-wrap;
    box-shadow: inset 0 0 0 1px #333;

    flex-grow: 1;
    /* Ocupa todo o espaço do container */
    overflow-y: auto;
    /* Scroll vertical apenas quando necessário */
    max-height: 300px;
    /* Nunca ultrapassa a altura do container */
    min-height: 100px;
    /* Altura mínima para ser visível */
    word-break: break-word;
    /* Quebra palavras longas */
    overflow-wrap: break-word;
    /* Quebra palavras longas */
}




/* ===== PAGINA HOME ===== */
.pg-home.active {
    display: block;
    height: 100%;
    padding: 5px 20px;
    overflow-y: auto;
}

.home-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 7fr 3fr;
    gap: 15px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .home-grid {
        grid-template-columns: 1fr;
    }
}

/* LADO ESQUERDO */

.home-left {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

.home-modules {
    grid-column: span 2
}

/* ===== HOME INTRO ===== */

.home-intro .intro-title {
    color: var(--primary-color);
}

.home-intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.intro-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====== HOME PROGRESS ====== */
.home-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    text-wrap: nowrap;
}

.user-level p {
    font-size: 11px;
}

.home-progress .progress-bar {
    width: 100%;
    height: 10px;
    background: var(--back2-color);
    border-radius: 6px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 16%;
    background: var(--primary-color);
    border-radius: 6px;
    transition: width 0.3s ease;
}

/* Barra de progresso */

.focus-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
}

.focus-bar {
    width: 80%;
    height: 6px;
    background-color: var(--back2-color);
    border-radius: 10px;
    overflow: hidden;
}

.focus-fill {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.3s ease;
}

/* LADO DIREITO */

.home-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ===== CARD ATUALIZAÇOES ==== */

.home-updates {
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: auto;
}

.updates-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updates-version {
    font-size: 12px;
    color: #ddd;
    background-color: #1f1f1f;
    padding: 4px 8px;
    border-radius: 6px;
}

.updates-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.update-item {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.update-dot {
    width: 8px;
    height: 8px;
    margin-top: 6px;
    background-color: #4CAF50;
    border-radius: 50%;
    flex-shrink: 0;
}

.update-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.update-text {
    font-size: 14px;
    color: var(--text-primary-color);
    margin: 0;
}

.update-date {
    font-size: 12px;
    color: #777;
}

/* ===== CARD SHORTCUTS ===== */

.home-shortcuts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.shortcut-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

kbd {
    background: var(--back2-color);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    border: 1px solid #333;
}



.home-modules {
    display: grid;
    grid-template-columns: 3fr 2fr;
    border: 1px solid #2c2c2c;
    border-radius: 12px;
}

/* ESQUERDA */
.modules-sidebar {
    background-color: var(--back2-color);
    border-right: 1px solid #2c2c2c;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.module-item {
    padding: 12px;
    cursor: pointer;
    transition: 0.2s;
    border-left: 4px solid #222;
}

.module-item:hover {
    background-color: var(--back-hover-color);
    border-left: 4px solid #414141;
}

.module-item.active {
    background-color: var(--back-active-color);
    border-left: 4px solid #4CAF50;
}

/* DIREITA */
.module-content-area {
    padding-left: 16px;
    overflow-y: scroll;
}

.module-header-right {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

.module-content {
    display: none;
}

.module-content.active {
    display: block;
}

/* ===== CHALLENGE CARD ===== */

.challenge-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: var(--back2-color);
    border: 1px solid #2c2c2c;
    transition: 0.2s ease;
    cursor: pointer;
}

.challenge-card:hover {
    transform: translateY(2px);
    border-color: #4CAF50;
}

/* LADO ESQUERDO */
.challenge-info h4 {
    margin: 0;
    font-size: 15px;
}

/* STATUS VISUAL */
.challenge-card.done {
    border-left: 4px solid #4CAF50;
}

.challenge-card.current {
    border-left: 4px solid #2196F3;
}

.challenge-card.current:hover {
    border-color: #2196F3;
}

.challenge-card.locked {
    border-left: 4px solid #555;
    opacity: 0.6;
    cursor: not-allowed;
}

.challenge-card.locked:hover {
    border-color: #555;
}

/* TEXTO DO STATUS */
.challenge-status {
    font-size: 13px;
    font-weight: 500;
    text-wrap: nowrap;
}